.table_container{
    margin: 20vh auto;
    width: 60vw;
}

.table{
    margin-top: 3vh;
    width: 100%;
    border-collapse: collapse;
}

.tr_isin{
    border-bottom: 1px solid rgb(230, 221, 221);;
}
.table td{
    text-align: center;
    padding: 2vh;
}